html{
    font-size: 62.5%;
    height: 100%;
    box-sizing: border-box;
}
body{
    background: linear-gradient(#41B3A3,rgb(149, 203, 202));
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    font-family: 'Exo 2', sans-serif;
}
header{
    padding: 2% 0 8% 0;
}
ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
li ~ li{
    padding: .5% 1%;
    background: #E27D60;
    font-weight: 700;
    font-size: 1.8rem;
    border-radius: 8%;
}
li:first-of-type{
    font-weight: 700;
    font-size: 4rem;
}

a{
    text-decoration: none;
    color: white;
}
.halfContainer{
    display: flex;
    flex-flow: row;
    height: 55%;
    align-items: center;
}

.half{
    display: flex;
    flex: 1;
    height: 10rem;
    justify-content: space-around;
    align-items: center;
    flex-flow: column wrap;
}
#caseInput, #deathInput{
    width: 50%;
    margin: 2% 0;
}

h2{
    font-size: 2.8rem;
}

#countryName, #countryNameD{
    color: #C38D9E;
    font-size: 5rem;
    font-weight: 700;
}

#caseCount, #deathCount{
    color: white;
    font-size: 4rem;
    font-weight: 700;
}